body {
    background-color:white;
   font-family:Arial, sans-serif;/* pour que 'MA' soit plus lisible */
}
.divmi {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 14px;
    align-items: center;
    justify-content: center;
    width: 50px; 
    height: 50px;
    border-radius: 50px; 
    cursor: pointer;
}
.divmi:hover {
    
    background-color: rgba(67, 64, 64, 0.1); /* Fond gris clair au survol */

}
.rec {
    width: 20px;
    height:3px;
    background-color: #4b4b4e;
    position: relative;
    display: flex;
    align-items: center; 
     justify-content: center;
    border-radius: 8px;
    cursor:pointer;
   
}
.filter-bar {
    display: flex;
    gap: 10px;
    padding: 5px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    overflow-x: auto;
    position: fixed;
    margin-left: 100px;
   
}

.filter {
    border: none;
    padding: 8px 12px;
    background-color:  #f1f1f1;;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
   
}


.filter.active,.filter:hover {
    background-color: black;
    color: white;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 0 6px;
}
.left {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}
.country-code {
    font-size: 12px;
    color: gray;
}

.center {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 400px;
    padding: 8px;
    border-radius: 20px 0 0 20px;
    border: 1px solid #ddd;
    outline: none;
}
.search-btn {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 8px 12px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}
.search-btn i {
    font-size: 16px;
}
.right {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 10px;
}
.create-btn {
    background-color: #f8f8f8;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}
.right .fa-bell {
    font-size: 20px;
    cursor: pointer;
}
.profile-circle {
    width: 32px;
    height: 32px;
    background-color: #5a75f8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 50%;
    cursor: pointer;
}
.divma{ 
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    background-color: white;
    padding: 3px;
    justify-content: space-between;
    display: flex;
    gap: 3px;   
}
.divma:hover .ce{
    cursor: pointer;
    scale: 1.1;
    transition: 0.6s;      
}
.divmom{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
}
.divm{
    margin-top: 50px;
}
.re{
    height: 180px;
    width: 310px;
    border-radius: 2%;
    background-color: dimgray;
    background-size: cover;
    background-position: center;
    cursor: pointer;  
}
.re img{
    height: 180px;
    width:310px;
    border-radius: 2%;
}
.t{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%; 
    justify-content: flex-start;
}
.c{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: dimgray;
    margin-top: 3%;
    cursor: pointer;
}
.r {
    display: flex;
    flex-direction: column;
    width: 100%; 
    align-items: flex-start;
}
.s{
    
    width: 90%;
    height: 10px;
    background-color:transparent;
    margin-left: 2%;
    margin-top: 3%;
    color: black;             
    font-size: 16px;          
    display: flex;           
    align-items: center;     
    justify-content: start;  
    border-radius: 5px; 
}
.a{
    width: 70%;
    height: 10px;
    background-color: transparent;
    margin-left: 2%;
    margin-top: 2%;
}

.c img
{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    border-radius: 50%;
}
.menu {
    width: 80px;
   position:fixed;
    left: 0;
    top: 10;
    height: 100vh; 
    background-color: white;
    padding-top: 10px;
    margin-left: 1%;
}
.menu-item {
    display: flex;
    flex-direction: column; /* Texte sous l'icône */
    align-items: center; /* Centrer tout */
    padding: 10px;
    font-size: 14px;
    color: black;
    border-radius: 5px;
    transition: 0.3s;
    width: 60%; 
    text-align: center;
}

.menu-item i {
    font-size: 20px;
    color: black;
    margin-bottom: 3px; 
}

.menu-item span {
    font-size: 12px; 
}

.menu-item:hover {
    background-color: lightgray; 
    cursor: pointer;
}
.shorts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px;   
   align-items: center;
   margin-left: 30px;
  
}
.short-card {
    
    flex: 0 0 auto; /*la taille va dependre selonle contenu */
    width: 200px ;
    border-radius: 8px;
    overflow: hidden; /*masque le contenu  dépassant les limites*/
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    
}
.short-card img {
    display: block ;
    width: 100% ;
    height: auto;       
}
.titre{
   
    margin-right: 80%; /* pour que le capture vient a sa place exacte  */
}